---
---

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">
    {% include_cached skip-links.html %}
    {% include_cached browser-upgrade.html %}
    {% include_cached masthead.html %}
    <!-- height respects header height of 4.5em -->
    <iframe  style="width: 100%; height: calc(100vh - 4.5em); border: none" src="https://mhm.pages.ufz.de/mhm/"></iframe>

    {% include scripts.html %}
  </body>
</html>
